@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --height-navbar: var(--navbar-height);
  --height-custom-screen: calc(
    100svh - var(--navbar-height) - var(--height-footer)
  );
  --min-height-custom-screen: calc(
    100svh - var(--navbar-height) - var(--height-footer)
  );
  --max-height-custom-screen: calc(
    100svh - var(--navbar-height) - var(--height-footer)
  );
  --height-footer: var(--footer-height);
}

:root {
  --foreground: #fafafa;
  --background: #292929;
  --navbar-height: 64px;
  --footer-height: 80px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 72px;
  }
}

@media (min-width: 1280px) {
  :root {
    --navbar-height: 88px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
